.languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding-left: 1rem;
}

.languages li {
    margin: 0 4rem 1rem 0;
    font-weight: 700;
    font-size: 1.125rem;
}

.languages li::before {
    content: '';
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../icons/check.svg');
    margin-right: 0.5rem;
}